* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.12rem;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.container {
  min-height: 100vh;
  background-color: antiquewhite;
  display: grid;
  place-content: center;
}

.card {
  max-width: 22rem;
  background-color: pink;
  border-radius: 0.8rem;
  padding: 1.3rem;
}

/* SECTION OVERLAY */

.section-overlay {
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
}

.section-overlay img {
  display: block;
  width: 100%;
  height: 100%;
}

.view-icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SECTION EQUILIBRIUM */

.section-equilibrium {
  margin: 1.4rem 0;
}

.title {
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 600;
}

.title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

/* SECTION DETAILS */

.section-details {
  margin-bottom: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.4rem;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.eth-value, .time-left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
}

.eth-value span {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

.time-left span {
  font-weight: 400;
}

/* SECTION CREATOR */

.section-creator {
  margin: 1.4rem 0;
  display: flex;
  gap: 1rem;
}

.section-creator img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.15rem solid #fff;
}

.writer {
  color: #fff;
}

.writer:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

/* ATTRIBUTION */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
